body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes full height */
    background-color: #D8CBC7;
    margin: 0;
}

/* Ensure the footer stays at the bottom */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom */
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}